.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #747bff;
    padding: 8px 16px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: 2em;
    color: white;
}

.query {
    font-size: small;
    font-weight: lighter;
    color: whitesmoke;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-right: 56px;
}

.input {
    min-height: 20px;
    min-width: 300px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 8px 12px;
}
